/* Board Styles */
.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);  /* Assuming your header is 60px tall; adjust as needed */
    background-color: #F5DEB3;
    border: 1px solid #8B4513;
    padding: 10px;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 3px solid #5D4037; /* A darker border color for cells */
    cursor: pointer;
    position: relative; /* Position relative to place numbers inside correctly */
}

.cell.black span, .cell.white span {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 0, 0, 0.1);
}


.cell.black {
    background: radial-gradient(circle, #000000, #404040, #000000);
    border-radius: 50%;
}

.cell.white {
    background: radial-gradient(circle, #FFFFFF, #D3D3D3, #FFFFFF);
    border-radius: 50%;
}

.cell.black span {
    font-size: 10px;
    color: #eee; /* Change this to a contrasting color if needed */
}

.cell.white span {
    font-size: 10px;
    color: #000; /* Change this to a contrasting color if needed */
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.back-button {
    margin: 30px; 
    width: fit-content; 
    border-radius: 5px;
    padding: 10px;
    background-color: #8D6E63;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.game-info {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}


