.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;

}

.gomoku-header {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.header-actions {
    display: flex;
    gap: 20px;
}

.header-link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.logout-button {
    display: flex;
    gap: 20px;
    
}