
.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.signup-button {
    width: 100%;
    margin-top: 20%;
    padding: 10px;
    background-color: #8D6E63;
    color: white;
    border: none;
    cursor: pointer;

}

.signup-error {
    color: red;
    margin-top: 10px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}