

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 3px solid #5D4037; /* A darker border color for cells */
    cursor: pointer;
    position: relative; /* Position relative to place numbers inside correctly */
}

.cell.black span, .cell.white span {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell.black {
    background: radial-gradient(circle, #000000, #404040, #000000);
    border-radius: 50%;
}

.cell.white {
    background: radial-gradient(circle, #FFFFFF, #D3D3D3, #FFFFFF);
    border-radius: 50%;
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.board {
    
    margin: auto 0;
  
    border-radius: 10px;
    background-color: #F5DEB3;
    border: solid #8B4513;
    border-radius: 10px;
    border-width: 3px;
    box-shadow: 0 0 10px rgba(10, 0, 0, 0.1);

}

.controls {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.restart {
    width: 30px;
    justify-content: center;
    margin-right: 100px;
}

.leave{
    justify-content: center;
    margin-left: 100px;
}
