body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f4e1d2; 
    color: #5D3E1A; 
    margin: 0;
    padding: 0;
    margin-top: 20px
    
}

h1, h2, h3 {
    font-weight: bold;
    color: #3E2723; /* Darker text for headings */
}

a {
    color: #3E2723;
    text-decoration: none;
}

button {
    background-color: #8D6E63; /* Earthy color for buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center the text */
    transition: background-color 0.3s;

}



button:hover {
    background-color: #6D4C41; /* Darken the button on hover */
}

